<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.authentication.dao.AreaMapper">

 
  <select id="query"  resultType="com.dixin.finance.authentication.vo.AreaVO">
    SELECT 
    	id id,
	    name name
	FROM
	    area where area.pid = -1
  </select>
  
  <select id="findAreaById"  parameterType="int" resultType="com.dixin.finance.authentication.vo.AreaVO">
    SELECT 
    	id id,
	    name name
	FROM
	    area where area.pid = #{pid}
  </select>
  
</mapper>