<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.authentication.dao.UserMapper">

  <cache />
  
  <insert id="insert" parameterType="com.dixin.finance.authentication.vo.UserVO">
    insert into User(user_name, password, user_type, enabled, date) values(#userName#, PASSWORD(#password#), #type#, #enabled#, sysdate())
  </insert>

</mapper>