<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.AssignmentMapper">

  <!-- cache / 暂时去掉缓存，等后台可以操作的时候再加上缓存 -->
  
  <insert id="insert" parameterType="com.dixin.finance.product.vo.AssignmentVO" >
    insert into Assignment(
		user_id,
		assign_date,
		amount,
		product_id,
		pay_type,
		assign_type,
		contactor,
		tel,
		create_user,
		create_time,
		update_user,
		update_time)
	values(
		#{user_id},
		#{assign_date},
		#{amount},
		#{product_id},
		#{pay_type},
		#{assign_type},
		#{contactor},
		#{tel},
		0,
		SYSDATE(),
		0,
		SYSDATE()
	)
  </insert>  
  
   <select id="query"  resultType="com.dixin.finance.product.vo.AssignmentVO" useCache="false" >
		select id id,
			user_id user_id,
			assign_date assign_date,
			amount amount,
			product_id,product_id,
			pay_type pay_type,
			assign_type assign_type,
			contactor contactor,
			tel tel,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from assignment
  </select>

</mapper>
