<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.AssignmentMapper">

  <!-- cache / 暂时去掉缓存，等后台可以操作的时候再加上缓存 -->
  
  <insert id="insert" parameterType="com.dixin.finance.product.vo.AssignmentVO" >
    insert into Assignment(
		user_id,
		assign_date,
		amount,
		product_id,
		pay_type,
		assign_type,
		contactor,
		tel,
		create_user,
		create_time,
		update_user,
		update_time)
	values(
		#{userId},
		#{assign_date},
		#{amount},
		#{product.id},
		#{pay_type},
		#{assign_type},
		#{contactor},
		#{tel},
		0,
		SYSDATE(),
		0,
		SYSDATE()
	)
  </insert>  
	
	<resultMap  id="selectProduct" type="com.dixin.finance.product.vo.ProductVO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="code" property="code"/>
	</resultMap>
	
	<resultMap id="assignmentResult" type="com.dixin.finance.product.vo.AssignmentVO">  
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="assign_date" property="assign_date"/>
		<result column="amount" property="amount"/>
		<result column="pay_type" property="pay_type"/>
		<result column="assign_type" property="assign_type"/>
		<result column="contactor" property="contactor"/>
		<result column="tel" property="tel"/>
		<result column="create_user" property="create_user"/>
		<result column="create_time" property="create_time"/>
		<result column="update_user" property="update_user"/>
		<result column="update_time" property="update_time"/>
		<association property="product" column="product_id" resultMap="selectProduct"/>  
	</resultMap>  
	
   <select id="query"  resultMap="assignmentResult" useCache="false" >
		select assignment.id id,
			assignment.user_id user_id,
			assignment.assign_date assign_date,
			assignment.amount amount,
			product.id product,
			product.name name,
			product.pay_type payType,
			product.term term,
			assignment.pay_type pay_type,
			assignment.assign_type assign_type,
			assignment.contactor contactor,
			assignment.tel tel,
			assignment.create_user createUser, 
			assignment.create_time createTime, 
			assignment.update_user updateUser, 
			assignment.update_time updateTime
		from assignment,product where assignment.product_id = product.id
  </select>
  
   <select id="queryUserAssignmentList" parameterType="int" resultMap="assignmentResult" useCache="false" >
		select assignment.id id,
			assignment.user_id user_id,
			assignment.assign_date assign_date,
			assignment.amount amount,
			product.id product,
			product.name name,
			product.pay_type payType,
			product.term term,
			assignment.pay_type pay_type,
			assignment.assign_type assign_type,
			assignment.contactor contactor,
			assignment.tel tel,
			assignment.create_user createUser, 
			assignment.create_time createTime, 
			assignment.update_user updateUser, 
			assignment.update_time updateTime
		from assignment,product where assignment.product_id = product.id and user_id = #{userId}
  </select>	
  
</mapper>
