<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.CustomerMapper">
	<insert id="insert" parameterType="com.dixin.finance.product.vo.MessageVO">
		insert into message(
				msg_id ,
				user_id,
				msg_time,
				catogry_id,
				msg,
				last_msg_id,
				create_user,
				create_time,
				update_user,
				update_time
			) values(
				#{msgId},
				#{userId},
				SYSDATE(),
				#{catogryId},
				#{msg},
				#{lastMsgId},
				#{createUser},
				SYSDATE(),
				#{updateUser},
				SYSDATE()
			)
	</insert>
	<!--  -->
	<select id="selectNextId" resultType="Integer">
		select AUTO_INCREMENT from INFORMATION_SCHEMA.TABLES   where TABLE_NAME='message'  
	</select>
	
	
	<!--  -->
	<resultMap id="lastMessage" type="com.dixin.finance.product.vo.MessageVO">
		<id column="b_id" property="id"/>
		<result column="b_msg" property="msg"/>
		<result column="b_last_msg_id" property="lastMsgId"/>
		
	</resultMap>
	<resultMap  id="userResult" type="com.dixin.finance.authentication.vo.UserVO">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="user_type" property="userType"/>
	</resultMap>
	
	<resultMap id="selectMessage" type="com.dixin.finance.product.vo.MessageVO">  
		<id column="a_id" property="id"/>
		<result column="a_msg_id" property="msgId"/>
		<result column="a_user_id" property="userId"/>
		<result column="a_msg_time" property="msgTime"/>
		<result column="a_catogry_id" property="catogryId"/>
		<result column="a_msg" property="msg"/>
		<result column="a_last_msg_id" property="lastMsgId"/>
		<result column="a_create_user" property="createUser"/>
		<result column="a_create_time" property="createTime"/>
		<result column="a_update_user" property="updateUser"/>
		<result column="a_update_time" property="updateTime"/>
		<association property="userVO" column="a_user_id" resultMap="userResult"/> 
		<association property="lastMessage" column="b_last_msg_id" resultMap="lastMessage"/> 
	</resultMap> 
	
	<select id="selectFirstMsg"   resultMap="selectMessage">
		SELECT 	
				a.id as a_id,
				a.msg_id as a_msg_id,
				a.user_id as a_user_id,
				a.msg_time as a_msg_time,
				a.catogry_id as a_catogry_id,
				a.msg as a_msg,
				a.last_msg_id as a_last_msg_id,
				a.create_user as a_create_user,
				a.create_time as a_create_time,
				a.update_user as a_update_user,
				a.update_time as a_update_time,
				b.id as b_id,
				b.msg as b_msg,
				b.last_msg_id as b_last_msg_id,
			   	c.*  
			   	from 
			   	(message a left join message b on a.last_msg_id = b.id ) inner join user c on a.user_id = c.id and a.msg_id =-1
	</select>
	
</mapper>