<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.ProductMapper">

  <!--  cache /  如果加缓存的话，手动改动数据后就不会显示了 -->

  <select id="queryProductList" parameterType="map" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate,
			end_date endDate, 
			b_delay bDelay,
			delay_condition delayCondition,
			delay_term delayTerm,
			delay_term_unit delayTermUnit,
			term term, 
			term_unit termUnit,
			append_term appendTerm, 
			append_term_unit appendTermUnit,			
			part_a partA, 
			rate_a rateA, 
			part_b partB, 
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			part_d partD, 
			rate_d rateD, 
			amount amount, 
			min_amount minAmount,
			append_amount appendAmount,
			pay_type payType, 
			pay_type_info payTypeInfo,
			ad_file adFile, 
			guide_file guideFile,  
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			buy_fee buyFee,
			close_term closeTerm,
			close_term_unit closeTermUnit,
			fund_manager fundManager,
			fund_manager_url fundManagerUrl,
			manage_fee manageFee,
			open_day openDay,
			bonus bonus,
			sell_fee sellFee,
			status status,
			info info,
			view_num viewNum,
			recommend recommend,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
		 WHERE name like '%${searchText}%' 
		<if test="productType != null and productType != 30">  
            <![CDATA[  
               and catogry_id=#{productType} 
            ]]>  
        </if>  
		<if test="state == 59">  
            <![CDATA[  
               and release_date <= '2100-01-01'
            ]]>  
        </if>        
		<if test="state == 60">  
            <![CDATA[  
               and release_date > '1970-01-01' and current_timestamp() >= release_date and current_timestamp() <=end_date 
            ]]>  
        </if>
		<if test="state == 61">  
            <![CDATA[  
               and release_date > current_timestamp()
            ]]>  
        </if>
 		<if test="state == 62">  
            <![CDATA[  
               and current_timestamp() > end_date
            ]]>  
        </if>       
		<if test="direction != -1">  
            <![CDATA[  
               and direction = #{direction} 
            ]]>  
        </if>         
		<if test="minAmount == 1">  
            <![CDATA[  
               and min_amount <= 500000
            ]]>  
        </if>     
 		<if test="minAmount == 2">  
            <![CDATA[  
               and min_amount >= 500000 and min_amount <= 1000000
            ]]>  
        </if>         
  		<if test="minAmount == 3">  
            <![CDATA[  
               and min_amount >= 1000000 and min_amount <= 3000000
            ]]>  
        </if>        
   		<if test="minAmount == 4">  
            <![CDATA[  
               and min_amount >= 3000000
            ]]>  
        </if>          
		<if test="term == 1">  
            <![CDATA[  
               and term >= #{term} 
            ]]>  
        </if>   
		<if test="term == 1">  
            <![CDATA[  
               and term <= 12
            ]]>  
        </if>        
		<if test="term == 2">  
            <![CDATA[  
               and term >= 12 and term <= 24
            ]]>  
        </if> 
		<if test="term == 3">  
            <![CDATA[  
               and term >= 24 and term <= 36
            ]]>  
        </if>         
		<if test="term == 4">  
            <![CDATA[  
               and term >= 36
            ]]>  
        </if>                 
		<if test="rate == 1">  
            <![CDATA[  
               and rate_a <= 6 
            ]]>  
        </if>         
		<if test="rate == 2">  
            <![CDATA[  
               and rate_a >= 6 and rate_a <= 10
            ]]>  
        </if>         
 		<if test="rate == 3">  
            <![CDATA[  
               and rate_a >= 10 and rate_a <= 15
            ]]>  
        </if>       
 		<if test="rate == 4">  
            <![CDATA[  
               and rate_a >= 15
            ]]>  
        </if>
  		<if test="profitType != -1">  
            <![CDATA[  
                and profit_id = #{profitType} 
            ]]>
        </if>     
          
   		<if test="recommend != -1">  
            <![CDATA[  
                and recommend = #{recommend} 
            ]]>
        </if>  
               
        order by release_date desc
  </select>
  
  <select id="findProductList" parameterType="com.dixin.finance.product.vo.ProductVO" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate,
			end_date endDate, 
			b_delay bDelay,
			delay_condition delayCondition,
			delay_term delayTerm,
			delay_term_unit delayTermUnit,
			term term, 
			term_unit termUnit,
			append_term appendTerm, 
			append_term_unit appendTermUnit,			
			part_a partA, 
			rate_a rateA, 
			part_b partB, 
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			part_d partD, 
			rate_d rateD, 
			amount amount, 
			min_amount minAmount,
			append_amount appendAmount,
			pay_type payType, 
			pay_type_info payTypeInfo,
			ad_file adFile, 
			guide_file guideFile,  
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			buy_fee buyFee,
			close_term closeTerm,
			close_term_unit closeTermUnit,
			fund_manager fundManager,
			fund_manager_url fundManagerUrl,
			manage_fee manageFee,
			open_day openDay,
			bonus bonus,
			sell_fee sellFee,
			status status,
			info info,
			view_num viewNum,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
		 WHERE name like '%${searchText}%' 
		<if test="profitId != null">  
            <![CDATA[  
               and profit_id=#{profitId} 
            ]]>  
        </if>  
  </select>

  <select id="queryProduct" parameterType="int" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate,
			end_date endDate, 
			b_delay bDelay,
			delay_condition delayCondition,
			delay_term delayTerm,
			delay_term_unit delayTermUnit,
			term term, 
			term_unit termUnit,
			append_term appendTerm, 
			append_term_unit appendTermUnit,
			part_a partA, 
			rate_a rateA, 
			part_b partB,  
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			part_d partD, 
			rate_d rateD, 
			amount amount, 
			min_amount minAmount, 
			append_amount appendAmount,
			pay_type payType, 
			pay_type_info payTypeInfo,
			ad_file adFile, 
			guide_file guideFile,  
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			buy_fee buyFee,
			close_term closeTerm,
			close_term_unit closeTermUnit,
			fund_manager fundManager,
			fund_manager_url fundManagerUrl,
			manage_fee manageFee,
			open_day openDay,
			bonus bonus,
			sell_fee sellFee,
			status status,
			info info, 
			view_num viewNum,
			recommend recommend,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
			WHERE id=#{productId} 
	</select>

	<!-- 更新 产品查看次数-->
	<update id="updateViewNum" parameterType="int" >
		UPDATE product SET 
		view_num = view_num + 1
		WHERE id=#{productId}
	</update>	
	
  <insert id="addProduct" parameterType="com.dixin.finance.product.vo.ProductVO" >
    insert into product(
		code,
		name,
		release_date,
		end_date,
		b_delay,
		delay_condition,
		delay_term,
		delay_term_unit,
		term,
		term_unit,
		append_term, 
		append_term_unit,
		part_a,
		rate_a,
		part_b,
		rate_b,
		part_c,
		rate_c,
		part_d,
		rate_d,
		amount,
		min_amount,
		append_amount,
		pay_type,
		pay_type_info,
		star,
		catogry_id,
		direction,
		buy_fee,
		close_term,
		close_term_unit,
		fund_manager,
		fund_manager_url,
		manage_fee,
		open_day,
		bonus,
		sell_fee,
		status,
		info,
		view_num,
		recommend,
		ad_file,
		guide_file,
		profit_id,
		bonus_type,
		create_user,
		create_time,
		update_user,
		update_time)
	values(
		#{code},
		#{name},
		#{releaseDate},
		#{endDate},
		#{bDelay},
		#{delayCondition},
		#{delayTerm},
		#{delayTermUnit},		
		#{term},
		#{termUnit},
		#{appendTerm}, 
		#{appendTermUnit},
		#{partA},
		#{rateA},
		#{partB},
		#{rateB},
		#{partC},
		#{rateC},
		#{partD},
		#{rateD},
		#{amount},
		#{minAmount},
		#{appendAmount},
		#{payType},
		#{payTypeInfo},
		#{star},
		#{catogryId},
		#{direction},
		#{buyFee},
		#{closeTerm},
		#{closeTermUnit},
		#{fundManager},
		#{fundManagerUrl},
		#{manageFee},
		#{openDay},
		#{bonus},
		#{sellFee},
		#{status},
		#{info},
		#{viewNum},
		#{recommend},
		#{adFile},
		#{guideFile},
		#{profitId},
		#{bonusType},		
		0,
		SYSDATE(),
		0,
		SYSDATE()
	)
  </insert>	
	
	
	<insert id="addProductList" useGeneratedKeys="true" parameterType="java.util.List">  
	   insert into product(
		code,
		name,
		release_date,
		end_date,
		b_delay,
		delay_condition,
		delay_term,
		delay_term_unit,
		term,
		term_unit,
		append_term, 
		append_term_unit,
		part_a,
		rate_a,
		part_b,
		rate_b,
		part_c,
		rate_c,
		part_d,
		rate_d,
		amount,
		min_amount,
		append_amount,
		pay_type,
		pay_type_info,
		star,
		catogry_id,
		direction,
		buy_fee,
		close_term,
		close_term_unit,
		fund_manager,
		fund_manager_url,
		manage_fee,
		open_day,
		bonus,
		sell_fee,
		status,
		info,
		view_num,
		recommend,
		ad_file,
		guide_file,
		profit_id,
		bonus_type,
		create_user,
		create_time,
		update_user,
		update_time)  
	    values  
	    <foreach collection="list" item="product" index="index" separator="," >  
		  	(
			#{product.code},
			#{product.name},
			#{product.releaseDate},
			#{product.endDate},
			#{product.bDelay},
			#{product.delayCondition},
			#{product.delayTerm},
			#{product.delayTermUnit},		
			#{product.term},
			#{product.termUnit},
			#{product.appendTerm}, 
			#{product.appendTermUnit},
			#{product.partA},
			#{product.rateA},
			#{product.partB},
			#{product.rateB},
			#{product.partC},
			#{product.rateC},
			#{product.partD},
			#{product.rateD},
			#{product.amount},
			#{product.minAmount},
			#{product.appendAmount},
			#{product.payType},
			#{product.payTypeInfo},
			#{product.star},
			#{product.catogryId},
			#{product.direction},
			#{product.buyFee},
			#{product.closeTerm},
			#{product.closeTermUnit},
			#{product.fundManager},
			#{product.fundManagerUrl},
			#{product.manageFee},
			#{product.openDay},
			#{product.bonus},
			#{product.sellFee},
			#{product.status},
			#{product.info},
			#{product.viewNum},
			#{product.recommend},
			#{product.adFile},
			#{product.guideFile},
			#{product.profitId},
			#{product.bonusType},		
			0,
			SYSDATE(),
			0,
			SYSDATE()
			) 
	    </foreach>  
	</insert>	
	
	<delete id="deleteProduct" parameterType="int">
			DELETE FROM product WHERE id = #{productId}
	</delete>

	<delete id="recommendProduct" parameterType="int">
			UPDATE product SET
			recommend=1,
			update_time = SYSDATE()
			WHERE id = #{productId}
	</delete>

	<update id="updateProduct" parameterType="com.dixin.finance.product.vo.ProductVO" >
   	UPDATE product SET
		code = #{code},
		name = #{name},
		release_date = #{releaseDate},
		end_date = #{endDate},
		b_delay = #{bDelay},
		delay_condition = #{delayCondition},
		delay_term = #{delayTerm},
		delay_term_unit = #{delayTermUnit},
		term = #{term},
		term_unit = #{termUnit},
		append_term = #{appendTerm}, 
		append_term_unit = #{appendTermUnit},
		part_a = #{partA},
		rate_a = #{rateA},
		part_b = #{partB},
		rate_b = #{rateB},
		part_c = #{partC},
		rate_c = #{rateC},
		part_d = #{partD},
		rate_d = #{rateD},
		amount = #{amount},
		min_amount = #{minAmount},
		append_amount = #{appendAmount},
		pay_type = #{payType},
		pay_type_info = #{payTypeInfo},
		star = #{star},
		catogry_id = #{catogryId},
		direction = #{direction},
		buy_fee = #{buyFee},
		close_term = #{closeTerm},
		close_term_unit = #{closeTermUnit},
		fund_manager = #{fundManager},
		fund_manager_url = #{fundManagerUrl},
		manage_fee = #{manageFee},
		open_day = #{openDay},
		bonus = #{bonus},
		sell_fee = #{sellFee},
		status = #{status},
		info = #{info},
		view_num = #{viewNum},
		recommend = #{recommend},
		ad_file = #{adFile},
		guide_file = #{guideFile},
		profit_id = #{profitId},
		bonus_type = #{bonusType},
		update_user = 0,
		update_time = SYSDATE()
	WHERE id=#{id}
  </update>	
	
	
</mapper>
