<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.ProductMapper">

  <!--  cache /  如果加缓存的话，手动改动数据后就不会显示了 -->

  <select id="queryProductList" parameterType="map" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate,
			end_date endDate, 
			term term, 
			term_unit termUnit,
			part_a partA, 
			rate_a rateA, 
			part_b partB, 
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			part_d partD, 
			rate_d rateD, 
			amount amount, 
			min_amount minAmount, 
			pay_type payType, 
			pay_type_info payTypeInfo,
			ad_file adFile, 
			guide_file guideFile,  
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			info info,
			view_num viewNum,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
		 WHERE name like '%${searchText}%' 
		<if test="productType != null and productType != 30">  
            <![CDATA[  
               and catogry_id=#{productType} 
            ]]>  
        </if>  
		<if test="state == 60">  
            <![CDATA[  
               and CURDATE() >= release_date and CURDATE() <=endDate 
            ]]>  
        </if>
		<if test="state == 61">  
            <![CDATA[  
               and release_date > CURDATE()
            ]]>  
        </if>
 		<if test="state == 62">  
            <![CDATA[  
               and CURDATE() > endDate
            ]]>  
        </if>       
		<if test="direction != -1">  
            <![CDATA[  
               and direction >= #{direction} 
            ]]>  
        </if>         
		<if test="minAmount == 1">  
            <![CDATA[  
               and min_amount <= 500000
            ]]>  
        </if>     
 		<if test="minAmount == 2">  
            <![CDATA[  
               and min_amount >= 500000 and min_amount <= 1000000
            ]]>  
        </if>         
  		<if test="minAmount == 3">  
            <![CDATA[  
               and min_amount >= 1000000 and min_amount <= 3000000
            ]]>  
        </if>        
   		<if test="minAmount == 4">  
            <![CDATA[  
               and min_amount >= 3000000
            ]]>  
        </if>          
		<if test="term == 1">  
            <![CDATA[  
               and term >= #{term} 
            ]]>  
        </if>   
		<if test="term == 1">  
            <![CDATA[  
               and term <= 12
            ]]>  
        </if>        
		<if test="term == 2">  
            <![CDATA[  
               and term >= 12 and term <= 24
            ]]>  
        </if> 
		<if test="term == 3">  
            <![CDATA[  
               and term >= 24 and term <= 36
            ]]>  
        </if>         
		<if test="term == 4">  
            <![CDATA[  
               and term >= 36
            ]]>  
        </if>                 
		<if test="rate == 1">  
            <![CDATA[  
               and rate_a <= 0.06 
            ]]>  
        </if>         
		<if test="rate == 2">  
            <![CDATA[  
               and rate_a >= 0.06 and rate_a <= 0.1
            ]]>  
        </if>         
 		<if test="rate == 3">  
            <![CDATA[  
               and rate_a >= 0.1 and rate_a <= 0.15
            ]]>  
        </if>       
 		<if test="rate == 4">  
            <![CDATA[  
               and rate_a >= 0.15
            ]]>  
        </if>         
        
                       		
  </select>

  <select id="queryProduct" parameterType="int" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate,
			end_date endDate, 
			term term, 
			term_unit termUnit,
			part_a partA, 
			rate_a rateA, 
			part_b partB,  
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			part_d partD, 
			rate_c rateD, 
			amount amount, 
			min_amount minAmount, 
			pay_type payType, 
			pay_type_info payTypeInfo,
			ad_file adFile, 
			guide_file guideFile,  
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			info info, 
			view_num viewNum,
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
			WHERE id=#{productId} 
	</select>

	<!-- 更新 产品查看次数-->
	<update id="updateViewNum" parameterType="int" >
		UPDATE product SET 
		view_num = view_num + 1
		WHERE id=#{productId}
	</update>	
	
  <insert id="addProduct" parameterType="com.dixin.finance.product.vo.ProductVO" >
    insert into product(
		code,
		name,
		release_date,
		end_date,
		term,
		term_unit,
		part_a,
		rate_a,
		part_b,
		rate_b,
		part_c,
		rate_c,
		part_d,
		rate_d,
		amount,
		min_amount,
		pay_type,
		pay_type_info,
		star,
		catogry_id,
		direction,
		info,
		view_num,
		ad_file,
		guide_file,
		profit_id,
		bonus_type,
		create_user,
		create_time,
		update_user,
		update_time)
	values(
		#{code},
		#{name},
		#{releaseDate},
		#{endDate},
		#{term},
		#{termUnit},
		#{partA},
		#{rateA},
		#{partB},
		#{rateB},
		#{partC},
		#{rateC},
		#{partD},
		#{rateD},
		#{amount},
		#{minAmount},
		#{payType},
		#{payTypeInfo},
		#{star},
		#{catogryId},
		#{direction},
		#{info},
		#{viewNum},
		#{adFile},
		#{guideFile},
		#{profitId},
		#{bonusType},		
		0,
		SYSDATE(),
		0,
		SYSDATE()
	)
  </insert>	
	
	
</mapper>