<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.ProductMapper">

  <!--  cache /  如果加缓存的话，手动改动数据后就不会显示了 -->

  <select id="queryProductList" parameterType="map" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate, 
			term term, 
			part_a partA, 
			rate_a rateA, 
			part_b partB, 
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			amount amount, 
			min_amount minAmount, 
			pay_type payType, 
			ad_file adFile, 
			guide_file guideFile, 
			state state, 
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			info info, 
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
		 WHERE name like '%${searchText}%' 
		<if test="productType != null and productType != 30">  
            <![CDATA[  
               and catogry_id=#{productType} 
            ]]>  
        </if>  
		<if test="state != -1">  
            <![CDATA[  
               and state=#{state} 
            ]]>  
        </if>
		<if test="direction != -1">  
            <![CDATA[  
               and direction >= #{direction} 
            ]]>  
        </if>         
		<if test="minAmount == 1">  
            <![CDATA[  
               and min_amount <= 500000
            ]]>  
        </if>     
 		<if test="minAmount == 2">  
            <![CDATA[  
               and min_amount >= 500000 and min_amount <= 1000000
            ]]>  
        </if>         
  		<if test="minAmount == 3">  
            <![CDATA[  
               and min_amount >= 1000000 and min_amount <= 3000000
            ]]>  
        </if>        
   		<if test="minAmount == 4">  
            <![CDATA[  
               and min_amount >= 3000000
            ]]>  
        </if>          
		<if test="term == 1">  
            <![CDATA[  
               and term >= #{term} 
            ]]>  
        </if>   
		<if test="term == 1">  
            <![CDATA[  
               and term <= 12
            ]]>  
        </if>        
		<if test="term == 2">  
            <![CDATA[  
               and term >= 12 and term <= 24
            ]]>  
        </if> 
		<if test="term == 3">  
            <![CDATA[  
               and term >= 24 and term <= 36
            ]]>  
        </if>         
		<if test="term == 4">  
            <![CDATA[  
               and term >= 36
            ]]>  
        </if>                 
		<if test="rate == 1">  
            <![CDATA[  
               and rate_a <= 0.06 
            ]]>  
        </if>         
		<if test="rate == 2">  
            <![CDATA[  
               and rate_a >= 0.06 and rate_a <= 0.1
            ]]>  
        </if>         
 		<if test="rate == 3">  
            <![CDATA[  
               and rate_a >= 0.1 and rate_a <= 0.15
            ]]>  
        </if>       
 		<if test="rate == 4">  
            <![CDATA[  
               and rate_a >= 0.15
            ]]>  
        </if>         
        
                       		
  </select>

  <select id="queryProduct" parameterType="int" resultType="com.dixin.finance.product.vo.ProductVO" useCache="false" >
		select id id,
			code code, 
			name name, 
			release_date releaseDate, 
			term term, 
			part_a partA, 
			rate_a rateA, 
			part_b partB,  
			rate_b rateB, 
			part_c partC, 
			rate_c rateC, 
			amount amount, 
			min_amount minAmount, 
			pay_type payType, 
			ad_file adFile, 
			guide_file guideFile, 
			state state, 
			star star, 
			catogry_id catogryId, 
			profit_id profitId, 
			bonus_type bonusType, 
			direction direction,
			info info, 
			create_user createUser, 
			create_time createTime, 
			update_user updateUser, 
			update_time updateTime
		from product
			WHERE id=#{productId} 
	</select>
	
</mapper>