<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dixin.finance.product.dao.ReservationProcessMapper">
	<!--  -->
	<insert id="insert"  parameterType="com.dixin.finance.product.vo.ReservationProcessVO">
		insert into reservation_process(
				id,
				date,
				reservation_id,
				state,
				info,
				create_user,
				create_time,
				update_user,
				update_time
			)
			values(
				#{id},
				SYSDATE(),
				#{appointment.id},
				#{state},
				#{info},
				0,
				SYSDATE(),
				0,
				SYSDATE()	
			)
	</insert>
</mapper>